/Cache
/Data
/Errors
/Logs
/Screenshots
/Utils
.agent.db
.patch.result
.prdouct.db
BlizzardError.exe
dbghelp.dll
DivxDecoder.dll
Launcher.db
Scan-64.dll
.build.info
.product.db
World of Warcraft Launcher.exe
Wow.exe
WoW.mfil
Wow-64.exe
Interface/AddOns/Blizzard_*
WTF/Config.wtf
WTF/Account/JORDONC/Cho'gall/Gracé/cache.md5
WTF/Account/JORDONC/cache.md5
WTF/Account/JORDONC/Cho'gall/Gracé/config-cache.old
WTF/Account/JORDONC/Cho'gall/Gracé/config-cache.wtf
WTF/Account/JORDONC/Cho'gall/Gracé/CUFProfiles.txt
WTF/Account/JORDONC/Cho'gall/Gracé/SavedVariables/Recount.lua
WTF/Account/JORDONC/config-cache.old
WTF/Account/JORDONC/config-cache.wtf
WTF/Account/JORDONC/SavedVariables/Blizzard_CombatLog.lua
